@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

nav .collapse .login:hover {
    background-color: #841d6a !important;
}
.navbar ul li a.link-active {
    color: #a52485 !important;
    font-weight: 800 !important;
}
.navbar-active {
    background-color: rgba(255, 255, 255, 0.977) !important;
    padding: 0;
    transition: all 0.5s ease;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.6);
}
.navbar {
    transition: all 0.8s ease;
}
.navbar-active * {
    transition: all 0.8s ease;
}
.navbar-active .container {
    border: none;
}
.navbar-active a {
    color: #333 !important;
    font-size: 15px !important;
}
.navbar-active .logo-navbar a {
    font-size: 20px !important;
}
.navbar-active p {
    color: #a52485 !important;
    font-size: 13px !important;
}
.navbar-active .navbar-toggler i {
    color: #333 !important;
}
.navbar-active button.login {
    font-size: 15px;
}
/* akhir navabr */

/* HOME */
.content img {
    /* margin-top: -8em; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(80%);
}

.carousel-caption h1,
.carousel-caption p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
/* akhir content */
.carousel .carousel-item .image-wrapper {
    height: 22vh;
}

.carousel .carousel-item .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.carousel .card-hover {
    transition: all 0.5 ease;
}
.carousel .card-hover:hover {
    transform: scale(1.1);
}
/* content */
.content-bg {
    background-color: #a5248516;
}

/* end HOME */

/* BERITA */

/* carousel */
.carousel-inner .carausel-berita img {
    filter: brightness(90%);
    transition: all ease-in-out 0.3s;
}
.carousel-inner .carausel-berita:hover img {
    filter: brightness(65%);
    transform: scale(1.2);
}

.carousel-inner .carausel-berita .ovelay {
    opacity: 0;
    transition: all 0.3s;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.carousel-inner .carausel-berita .ovelay .text-purple {
    color: #d129a7;
}

.carousel-inner .carausel-berita .ovelay .btn-other {
    background-color: #d129a7;
}

.carousel-inner .carausel-berita:hover .ovelay {
    opacity: 1;
}
/* end carausel */

/* berita */
.berita img.foto-berita {
    width: 100%;
    filter: brightness(75%);
}

.berita .berita-lainya img.img-berita {
    width: 100px;
    height: 100px;
}

.berita .berita-lainya .text-img-berita p {
    font-size: 12px;
}

.berita .bg-berita {
    background-color: #eee;
}

/* END BERITA */

/* AWAL INFOGRAFIS */

.content .carousel-caption input {
    height: 50px;
}
.content .carousel-caption .btn {
    background-color: #d129a7;
    width: 15%;
    color: #fff;
}
.content .carousel-caption .btn:hover {
    background-color: #691554;
}
/* Akhir infografis */

/* Pemerintahan */

.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
  any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and 
  right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #94a0b4;
}
